.box {
    background: #f7f7f7;





    .banxin {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;

        .guide {
            color: #a3a3a3;
            height: 50px;
            line-height: 50px;
            font-size: 12px;

            a {
                color: #a3a3a3;

            }
        }
    }
}